.Pokecard {
    background-color: white;
    padding: 20px;
    width: 300px;
    height: min-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.Pokecard-title {
    font-size: 30px;
    margin: 5px;
}

.Pokecard-img {
    margin: 10px;
}

.Pokecard-type {
    margin: 5px;
}

.Pokecard-exp {
    margin: 5px;
}
